LicenceManager/Web References/br.com.databridge.services/DbGen.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://www.databridge.com/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://www.databridge.com/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://www.databridge.com/">
      <s:element name="GenerateDB">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="token1" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="token2" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="token3" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GenerateDBResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GenerateDBResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="GenerateDBSoapIn">
    <wsdl:part name="parameters" element="tns:GenerateDB" />
  </wsdl:message>
  <wsdl:message name="GenerateDBSoapOut">
    <wsdl:part name="parameters" element="tns:GenerateDBResponse" />
  </wsdl:message>
  <wsdl:portType name="DbGenSoap">
    <wsdl:operation name="GenerateDB">
      <wsdl:input message="tns:GenerateDBSoapIn" />
      <wsdl:output message="tns:GenerateDBSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="DbGenSoap" type="tns:DbGenSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GenerateDB">
      <soap:operation soapAction="http://www.databridge.com/GenerateDB" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="DbGenSoap12" type="tns:DbGenSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GenerateDB">
      <soap12:operation soapAction="http://www.databridge.com/GenerateDB" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="DbGen">
    <wsdl:port name="DbGenSoap" binding="tns:DbGenSoap">
      <soap:address location="http://services.databridge.com.br/DbGen.asmx" />
    </wsdl:port>
    <wsdl:port name="DbGenSoap12" binding="tns:DbGenSoap12">
      <soap12:address location="http://services.databridge.com.br/DbGen.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>