LicenceManager/Web References/br.com.databridge.services1/ClientServices.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://www.databridge.com/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://www.databridge.com/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://www.databridge.com/">
      <s:element name="TestDB">
        <s:complexType />
      </s:element>
      <s:element name="TestDBResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="TestDBResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="TestDBSoapIn">
    <wsdl:part name="parameters" element="tns:TestDB" />
  </wsdl:message>
  <wsdl:message name="TestDBSoapOut">
    <wsdl:part name="parameters" element="tns:TestDBResponse" />
  </wsdl:message>
  <wsdl:portType name="ClientServicesSoap">
    <wsdl:operation name="TestDB">
      <wsdl:input message="tns:TestDBSoapIn" />
      <wsdl:output message="tns:TestDBSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="ClientServicesSoap" type="tns:ClientServicesSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="TestDB">
      <soap:operation soapAction="http://www.databridge.com/TestDB" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="ClientServicesSoap12" type="tns:ClientServicesSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="TestDB">
      <soap12:operation soapAction="http://www.databridge.com/TestDB" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="ClientServices">
    <wsdl:port name="ClientServicesSoap" binding="tns:ClientServicesSoap">
      <soap:address location="http://services.databridge.com.br/ClientServices.asmx" />
    </wsdl:port>
    <wsdl:port name="ClientServicesSoap12" binding="tns:ClientServicesSoap12">
      <soap12:address location="http://services.databridge.com.br/ClientServices.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>